@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: "Poppins", serif; */




/* body style */
body{
   font-family: "Poppins", serif; 
   padding: 0;
   margin: 0;
}
/* header style */
header{
       margin: 50px px;
       background: url(../images/developer.png);
       background-repeat: no-repeat;
       background-position: top left;
       background-color: #FFF8F3;

}
/* nav ber  */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}
nav .nav_title{
    font-weight: 800px;
    font-size: 45px;
}
nav .nav_title span{
    color: #FD6E0A;
}

nav ul {
    display: flex;
    align-items: center;
}
nav ul li {
    list-style:none;
    margin-right: 51px ;
}
nav ul li a {
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}

/* shared class */
.primary_btn{
    background-color: #FD6E0A;
    color: white;
    padding:18px 36px ;
    font-size: 20px;
    border-radius: 5px ;
    border: none;
}

.title{

}
.pera{
    color: #757575;
}


/* Banner */
.banner{
    display: flex;
    justify-content: space-between;
    background: url(../images/header_bg.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    margin: 0 200px;
    
}
.banner_child h4{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0px;

}
.banner_child h2{
    font-size: 85px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.banner_child p{
    color: #757575;
    font-size: 18px;
    margin-bottom: 25px;
}
.banner_child .Download{
    margin-right: 30px;
}
.banner_child .Download:hover{
    color: #FD6E0A;
    background-color: white;
    border: 1px solid #FD6E0A;
}

.banner_child .contact{
     
     background-color: white;
     color: #FD6E0A;
     border: 1px solid #FD6E0A;
     text-transform: capitalize;
}
.banner_child .contact:hover{
     
    background-color:#FD6E0A;
    color: white;
    border: 1px solid #FD6E0A;
    text-transform: capitalize;
}




/* main area */

main{
    max-width: 1180px ;
    margin: 80px  auto;
}

/* section_container-one */
.section_container_one{
    padding:100px 159px;
    background-color: #FFF8F3;
}
.section_container_one .about_box{
    text-align: center;
}
.section_container_one .about_box h2{
    font-size: 35px;
}
.section_container_one .self_container{
      display: flex;
      justify-content: space-evenly;
      text-align: center;
}

.section_container_one .self_container .about_self p{
    margin-bottom:0px;
}
.section_container_one .self_container .about_self h2{
    margin-top: 0px;
    color: #474747;
}


/* section_container_two   */


.section_container_two{
 margin-top: 100px;
}

.subtitle_box{
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
}
.subtitle_box h2{
    font-size: 35px;
}
.subtitle_box p{
    color: #757575;
}
.skills{
    display: flex;
    gap:30px;
    margin-top:30px;
}
.skills div{
  
    padding:20px 40px ;
    box-shadow: 0px 0px 8px black;
    border-radius: 5px;
    transition: 0.6s;
}
.skills div:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 8px yellow;
}

/* section-container three */

.section_container_three{
 margin-top: 100px;

}
.section_container_three >h2{
    text-align: center;
    font-size: 35px;
}
.section_container_three .button_box{
    text-align: center;
    margin-top: 20px;
}
.section_container_three .button_box button:hover{
    color: #FD6E0A;
    background-color: white;
    border: 1px solid #FD6E0A;
    box-sizing: border-box;
}

.resume_container{
    display: flex;
    justify-content: space-between;
}
.resume_child{
    padding: 15px 20px;
}
.resume_child .resume_education{
     padding: 15px 20px;
}
.resume_child .resume_education h3{
     color:#474747;
}
.resume_child .resume_education h2{
     color:#474747;
}
.resume_child .resume_education p{
     color:#757575;
}

.resume_child hr{
     margin-left: 20px;
}

/* footer */
 

footer{
 
    background-color: #FFF8F3;
    
}
.footer_container{
    max-width: 1180px ;
    margin: 0 auto 100px;
    
    display: flex;
    justify-content: space-evenly;
}

.footer_child_one{
    max-width: 50%;
}

.footer_child_one .footer_child_icons{

    display: flex;
    gap:40px;
    margin-top: 30px;
}

.footer_child_one p{
    color: #757575;
}
.footer_child_two{

    
}
.footer_child_two input,textarea{
   padding: 20px 20px ;
   width: 100%;
   margin-top: 20px;
   border-radius: 5px;
   border: none;
}

.footer_child_two .submit{
    width: 150px;
    margin-right: 50px;
}
.footer_child_two .submit:hover{
    color: #FD6E0A;
    background-color: white;
    border: 1px solid #FD6E0A;
}

.footer_child_two .reset{
    width: 150px;
}
.footer_child_two .reset{
    color: #FD6E0A;
    background-color: white;
    border: 1px solid #FD6E0A;
}
.footer_child_two .reset:hover{
    color: white;
    background-color: #FD6E0A;
    
}


